:root {
    --color-primario: #F2CB05;
    --color-sec: #6B3E8C;
    --color-ter: #BF304A;
    --color-cuarto: #F2F2F2;
    --color-quinto: #0D0D0D;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;

}

.about__container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    --color-cuarto: #F2F2F2;

}

.about__container img {
    width: 10rem;
    --color-ter: #BF304A;
    
}

.about__title {
    font-size: 2rem;
    --color-cuarto: #F2F2F2;
}

.about__paragraph {
    font-size: 1.8;
    --color-cuarto: #F2F2F2;
}

@media (max-width:768px) {
    .about__container {
        width: 100%;
    }

    .about__title {
        font-size: 1.7rem;
    }

    .about__paragraph {
        font-size: .9rem;
    }
}
about{
    padding: 2rem ;
    --color-ter: #BF304A;
    
}

.menu{
    --color-cuarto:#F2F2F2;
    font-size: 17px;
    padding: 0px;  
    top: 5px;  
    position: relative;
    width: 100%;
    height: 10%;
    line-height: 150%
    

}



.menu__header{
    width: 50px;
    right: 2%;
    display:inline-flex;
    justify-content:flow-root;
    font-family: 'Raleway';
    font-size: 14px;
    padding: 1%;
    padding-right: 20%;
    position:relative;
    padding-top: 2px;
    color: #F2F2F2;
    text-align::first-line
    box-sizing: border-box;
    line-height: 10;
    gap: 4px     

}





.h1{
    --color-cuarto: #F2F2F2;
   text-align:right;
   font-size: 10px;
    gap: 1rem;
    top: 5px;
    left: 10%; 
}
   



ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

.about__container{
    color:#0D0D0D;
}

h2,
h3,
h4,
h5,
p,
input,
button,
textarea {
    color: #0D0D0D;
    border: none;
    outline: none;
}


.skills{
    padding: 1rem;
    margin: 0 1r
    column-gap: 5%;
    background-color: var(--color-cuarto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.skills__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.skills__box {
    position: absolute;
    width: 100%;
    display:inline-flex;
    align-items: flex-start;
    padding: 10% 0;
    flex-direction: row;
    top:  15px;
    margin-left: 18%;
    right: 9%;
    bottom: 1px;
    height: 50rem;
    background-color: white;
    

}

.skills__box {
    position: absolute;
    bottom: 1rem;
}

.skills__name {
    font-weight: bold;
    margin-top: .5rem;
}

.academic {
    padding: 2rem;
    background-color: var(--color-sec);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;


}

.academic__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-cuarto);
}

.academic__courses {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.academic__courses__box {
    width: 33%;
    display:flex;
    margin: 5 6px;
    top: 5%;
    flex-direction:column;
    justify-content:center;
    gap: 8px;
    padding-bottom: 5px 5px;
    
}

.academic__courses__item__img {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    position: relative;

}

.academic__courses__item__img img {
    width: 90%;
    margin: auto;
    padding-bottom: 4px;
    padding-top: 2%;
    padding-block: 3%;
    display:flow-root
    justify-content: space-around;
    height::first-letter;
}

.academic__courses__item__title h4,
.academic__courses__item__subtitle p {
    margin-top: 0.5rem;
    font-size: 20px;
    gap: 4px;
    color: var(--color-cuarto);
}

@media (max-width:425px) {
    .academic__courses {
        flex-direction: column;
        gap: 2rem;
    }

    .academic__courses__box {
        width: 100%;

    }
}

.about__container img {
    width: 11rem;
    --color-ter: #BF304A;
}